linkedin-ai-content-automation.json
{
  "name": "LinkedIn AI Content Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1, 4],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"query\": \"latest AI breakthroughs and cutting-edge developments\",\n  \"max_results\": 5\n}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Tavily Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on these AI research summaries, write a LinkedIn post:\n\n{{ $json.results.map(r => `Title: ${r.title}\\nSummary: ${r.content}\\nURL: ${r.url}`).join('\\n\\n') }}",
        "options": {
          "systemMessage": "You are a professional LinkedIn content writer. Your task is to write one professional LinkedIn post based on the provided AI research summaries. Follow these rules strictly:\n- Start with a compelling hook to grab attention\n- Extract one to two key insights from the research\n- Use a professional LinkedIn tone\n- Include two to four emojis maximum\n- End with three to five relevant hashtags\n- Return only the post text with no extra formatting or explanations"
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "AI Content Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [480, 300]
    },
    {
      "parameters": {},
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901235",
      "name": "Content Writer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-text-assign",
              "name": "postText",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Set Post Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.postText }}",
        "options": {
          "systemMessage": "Extract a single concise topic phrase from the given LinkedIn post. The topic must be suitable for image generation and should not be a full sentence. Return only the topic phrase, nothing else."
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Topic Extraction",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [960, 300]
    },
    {
      "parameters": {},
      "id": "e5f6a7b8-c9d0-1234-efab-567890123457",
      "name": "Topic Extraction Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [880, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic-assign",
              "name": "imageTopic",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "preserve-post",
              "name": "postText",
              "value": "={{ $('Set Post Text').item.json.postText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.imageTopic }}",
        "options": {
          "systemMessage": "You are an expert at creating image generation prompts. Generate a professional image generation prompt based on the given topic. The style must be clean, modern, and tech-focused. The image must be suitable for LinkedIn feed display. Return only the prompt text, nothing else."
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Image Prompt Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1440, 300]
    },
    {
      "parameters": {},
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345679",
      "name": "Image Prompt Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1360, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-assign",
              "name": "imagePrompt",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "keep-topic",
              "name": "imageTopic",
              "value": "={{ $('Set Topic').item.json.imageTopic }}",
              "type": "string"
            },
            {
              "id": "keep-post",
              "name": "postText",
              "value": "={{ $('Set Topic').item.json.postText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Set Image Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "model": "dall-e-3",
        "prompt": "={{ $json.imagePrompt }}",
        "options": {
          "size": "1024x1024",
          "quality": "standard"
        }
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Image Generation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1920, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "image-url-assign",
              "name": "imageUrl",
              "value": "={{ $json.data[0].url }}",
              "type": "string"
            },
            {
              "id": "final-topic",
              "name": "imageTopic",
              "value": "={{ $('Set Image Prompt').item.json.imageTopic }}",
              "type": "string"
            },
            {
              "id": "final-post",
              "name": "postText",
              "value": "={{ $('Set Image Prompt').item.json.postText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Set Image URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "unit": "hours",
        "amount": 48
      },
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Wait 48 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2400, 300],
      "webhookId": "f2a3b4c5-d6e7-8901-fabc-234567890123"
    },
    {
      "parameters": {
        "person": "={{ $env.LINKEDIN_PERSON_URN }}",
        "text": "={{ $json.postText }}",
        "mediaCategory": "IMAGE",
        "additionalFields": {
          "imageUrl": "={{ $json.imageUrl }}"
        }
      },
      "id": "f2a3b4c5-d6e7-8901-abcd-345678901234",
      "name": "LinkedIn Publish",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2640, 300],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-cred",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOC_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_SHEET_NAME }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Topic": "={{ $('Set Image URL').item.json.imageTopic }}",
            "PostText": "={{ $('Set Image URL').item.json.postText }}",
            "Status": "Published"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "PostText",
              "displayName": "PostText",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9012-bcde-456789012345",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2880, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {},
      "id": "b4c5d6e7-f8a9-0123-cdef-567890123456",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "failed-node",
              "name": "failedNode",
              "value": "={{ $json.execution.error.node.name }}",
              "type": "string"
            },
            {
              "id": "error-msg",
              "name": "errorMessage",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "error-time",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-1234-defa-678901234567",
      "name": "Prepare Error Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 700]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ALERT_EMAIL }}",
        "subject": "n8n Workflow Error: LinkedIn AI Content Automation",
        "message": "=Workflow Error Alert\n\nFailed Node: {{ $json.failedNode }}\nError Message: {{ $json.errorMessage }}\nTimestamp: {{ $json.timestamp }}\n\nPlease investigate and resolve the issue."
      },
      "id": "d6e7f8a9-b0c1-2345-efab-789012345678",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 700],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Tavily Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Web Search": {
      "main": [
        [
          {
            "node": "AI Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Writer Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Writer": {
      "main": [
        [
          {
            "node": "Set Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Text": {
      "main": [
        [
          {
            "node": "Topic Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Extraction Model": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Extraction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Extraction": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Generator": {
      "main": [
        [
          {
            "node": "Set Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Prompt": {
      "main": [
        [
          {
            "node": "Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation": {
      "main": [
        [
          {
            "node": "Set Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL": {
      "main": [
        [
          {
            "node": "Wait 48 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48 Hours": {
      "main": [
        [
          {
            "node": "LinkedIn Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Publish": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Prepare Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Data": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
